<html>
<head>
	<meta charset="utf-8">
	<title>新闻资讯</title>
	<link rel="stylesheet" type="text/css" href="css/public.css">
	<link rel="stylesheet" type="text/css" href="css/news.css">
</head>
<body>
<header>
	<div class='header'>
		<a href="" class='fl logo'><img src="images/logo2.png"></a>
		<ul class='fl head-n'>
			<li><a href="">首页</a></li>
			<li><a href="">项目</a></li>
			<li><a href="">医院</a></li>
			<li><a href="">关于我们</a></li>
			<li class='actiog'><a href="">新闻资讯</a></li>
			<div class='clear'></div>
		</ul>
		<div class='fr loin'>
			<a href="" class='ina'>我要注册</a>
			<a href="" class='inb'>登录</a>
			<div class='clear'></div>
		</div>
	</div>
</header>
<div class='center'>
		<div class='bender'>
			<div></div>
		</div>
	<div class='cent-nav'>
		<!-- 每日新闻 -->
		<div class='fl clik'> 
			<ul>
				<li data="#donations" class='actionk'>每日新闻</li>
				<li data="#progress">企业SKR</li>
				<div class='clear'></div>
			</ul>
			<div class='centsd'>
				<div id='donations' class="donations">
					<ul>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
						<li><i></i><a href="">黄晓明生日与志愿者公益互动 登时代广场为空巢老人“打call” <span class='fr'>2017-11-14 10:16:49</span><div class='clear'></div></a></li>
				
					</ul>
					<div class='fen-page'>
						<div id="app">
					    <div>
					      <div class="page"  v-show="show">
					        <div class="pagelist">
					          <span class="left jump" :class="{disabled:pstart}" @click="{current_page--}"></span>
					          <span v-show="current_page>5" class="jump" @click="jumpPage(1)">1</span>
					          <span class="ellipsis"  v-show="efont">...</span>
					          <span class="jump" v-for="num in indexs" :class="{bgprimary:current_page==num}" @click="jumpPage(num)">{{num}}</span>
					          <span class="ellipsis"  v-show="ebehind">...</span>

					          <span :class="{disabled:pend}" class="rightl jump" @click="{current_page++}"></span>
					          <span v-show="current_page<pages-4" class="jump" @click="jumpPage(pages)">{{pages}}</span>
					          <span class="jumppoint">跳转到：</span>
					          <span class="jumpinp"><input type="text" v-model="changePage"> 页</span>

					          <span class="jump gobtn" @click="jumpPage(changePage)">GO</span>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div id='progress'>企业SKR</div>
			</div>
		</div>
		<div class='fr ft-na'>
			<div class='xim-qi'>
				<p><i class='i-po'></i> <span>推荐救助</span></p>
				<ul class='ul-o'>
					<li><i></i><a href=""><span>得了胃癌的我想活下去，想给父母尽孝，想穿婚纱。</span></a></li>
					<li><i></i><a href=""><span>我是盐城滨海人沈孝国，患上多发性骨髓瘤，请大家帮帮</span></a></li>
					<li><i></i><a href=""><span>谢谢朋友们的帮助</span></a></li>
					<li><i></i><a href=""><span>我是盐城滨海人沈孝国，患上多发性骨髓瘤，请大家帮帮</span></a></li>
					<li><i></i><a href=""><span>得了胃癌的我想活下去，想给父母尽孝，想穿婚纱。</span></a></li>
				</ul>
			</div>
			
			<div class='xim-qi'>
				<p><i></i> <span>推荐资讯</span></p>
				<ul class='ul-o'>
					<li><i></i><a href=""><span>得了胃癌的我想活下去，想给父母尽孝，想穿婚纱。</span></a></li>
					<li><i></i><a href=""><span>我是盐城滨海人沈孝国，患上多发性骨髓瘤，请大家帮帮</span></a></li>
					<li><i></i><a href=""><span>谢谢朋友们的帮助</span></a></li>
					<li><i></i><a href=""><span>我是盐城滨海人沈孝国，患上多发性骨髓瘤，请大家帮帮</span></a></li>
					<li><i></i><a href=""><span>得了胃癌的我想活下去，想给父母尽孝，想穿婚纱。</span></a></li>
				</ul>
			</div>
			<div class='xim-qi'>
				<p><i></i> <span>常见问题</span></p>
				<ul class='cjwt-s'>
					<li><a href=""><i></i>帮你筹平台项目审核流程是什么目审核流程目审流？</a></li>
					<li><a href=""><i></i>帮你筹平台项目审核流程目审核流程是什么？</a></li>
					<li><a href=""><i></i>帮你筹平台项目审核流程是什么？</a></li>
					<li><a href=""><i></i>帮你筹平台项目审核流程是什么？</a></li>
					<li><a href=""><i></i>帮你筹平台项目审核流程是什么？</a></li>
				</ul>
			</div>
		</div>
		<div class='clear'></div>
	</div>
</div>	
<footer>
	<div class='foot-a'>
		<div class='fot-ou'>
			<div class='fl tite'>
				<p>
					客服电话（08:00-21:00）</br>
					<span>400-9699-266</span>
				</p>
				<b></b>
			</div>
			<div class='fl mapt'>
				<p><a href="">关于我们</a><i></i><a href="">帮助中心</a></p>
				<p><span>公司名称：</span>北京帮你筹科技有限公司</p>
				<p><span>公司地址：</span>北京市东城区东长安街1号w2座5层</p>
				<p><span>公司邮箱：</span>lihao@meican-inc.com</p>
			</div>
			<div class='fl wxin'>
				<a href=""><img src="images/weixin.png"></br><span>扫码关注微信</span></a>
				<a href=""><img src="images/weixin.png"></br><span>扫码关注微信</span></a>
				<div class='clear'></div>
			</div>
			<div class='clear'></div>
		</div>
	</div>
	<div class='foot-b'>北京帮你筹科技有限公司©1|备案号:1</div>
</footer>	
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	$(function(){
		

		$(".clik>ul>li").click(function(){
			if(!$(this).hasClass('actionk')){
				$(this).addClass('actionk').siblings('li').removeClass('actionk');
				$($(this).attr('data')).css('display','block').siblings('div').css('display','none')
			}
		})
	})
		/*分页*/
	 var newlist = new Vue({
      el: '#app',
      data: {
        current_page: 1, //当前页
        pages: 50, //总页数
        changePage:'',//跳转页
        nowIndex:0
      },
      computed:{
         show:function(){
             return this.pages && this.pages !=1
         },
         pstart: function() {
           return this.current_page == 1;
         },
         pend: function() {
           return this.current_page == this.pages;
         },
         efont: function() {
           if (this.pages <= 7) return false;
           return this.current_page > 5
         },
         ebehind: function() {
           if (this.pages <= 7) return false;
           var nowAy = this.indexs;
           return nowAy[nowAy.length - 1] != this.pages;
         },
         indexs: function() {

           var left = 1,
             right = this.pages,
             ar = [];
           if (this.pages >= 7) {
             if (this.current_page > 5 && this.current_page < this.pages - 4) {
               left = Number(this.current_page) - 3;
               right = Number(this.current_page) + 3;
             } else {
               if (this.current_page <= 5) {
                 left = 1;
                 right = 7;
               } else {
                 right = this.pages;

                 left = this.pages - 6;
               }
             }
           }
           while (left <= right) {
             ar.push(left);
             left++;
           }
           return ar;
         },
       },
      methods: {
        jumpPage: function(id) {
          this.current_page = id;
        },
      },

    })
</script>
</html>